@font-face {
    font-family: 'RobotoCondensed';
    src: url('./my-font.woff') format('woff');
    font-weight: 800;
}

.hello{
    color: red;
    background: url('./samurai7.png');
    font-family: 'RobotoCondensed';
}